*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.book-cover{
    width: 100%;
    border-radius: 10px;
}

.book-details{
    padding: 15px;
}

.book-card{
    width: 250px;
    height: 400px;
    background-color: #fff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden;
}

.book-card:hover{
    transform: scale(1.1);
}

.book-title{
    font-size: 1em;
    margin-bottom: 10px;
}

.book-author{
    font-size: 0.9em;
    margin-bottom: 10px;
    color: #555;
}

.bookList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.book-description{
    color: #777;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.search-input{
    width: 400px;
    margin: 20px;
}



